[filter "media"]
	clean = git media clean %f
	smudge = git media smudge %f
	required = true
[user]
	name = Yanick Landry
	email = yanick.landry@gmail.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[cola]
	spellcheck = false
[push]
	default = current
[fetch]
	prune = true
[pull]
	rebase = false
[init]
	defaultBranch = master
[core]
	autocrlf = input
	safecrlf = false
	excludesfile = /Users/yanick/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p